.card-grid {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 15%);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
}